.userMenu {
  display: flex;
}

.info {
  margin-right: 4px;
}

.button {
  border: 1px solid rgb(43, 42, 76);
  background-color: white;
}

.button:hover,
.button:focus {
  outline: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  box-shadow: 8px 10px 5px -5px rgba(43, 42, 76, 1);
}
